
.option-offcanvas{
    height: 15vh;

}
.table-Zone{
    width: 100%;
    
}

    .tables{
        width: 90%;
        height: 50vh;
        justify-self: center;
    }

.grid-css-comandas{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.grid-css{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
    
}