<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
</head>
<body>

    <div>
         <nav class="navbar d-md-none ">
                <div class="container">
                    <a class="navbar-brand" href="#">
                        <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Bootstrap" >
                    </a>
                    <button class="btn btn-secondary  " data-bs-toggle="offcanvas" data-bs-target="#offcanvasbarra"><div class="navbar navbar-toggler-icon"></div></button>
                </div>
            </nav>

            <div class="offcanvas offcanvas-end"  id="offcanvasbarra" aria-labelledby="offcanvasLabel">
                <div class="offcanvas-header">
                    <img class="w-25 rounded-circle" src="/OrderFlow Proyecto Ciclo 2ºDAW/assets/image/backiee-176253.jpg" alt="">
                    <h5 class="offcanvas-title" id="offcanvasLabel">Nombre Usuario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasbarra" aria-label="Close"></button>
                </div>
                    <div class="offcanvas-body w-75 align-self-center ">
                            <section class="bg-danger py-4 mb-4 d-flex justify-content-center">
                                <a class="h4 text-decoration-none " href="../barraVista.html">Inicio</a>
                            </section>

                                <section class="bg-danger py-4 mb-4 d-flex justify-content-center">
                                    <a class="h4 text-center text-decoration-none" href="./seccionComandaColaBarra.html">Comandas Cocina en Espera</a>
                                </section >

                                    <section class="bg-danger py-4 mb-4 d-flex justify-content-center">
                                        <a  class="text-center text-decoration-none h4" href="./seccionComandapreparadoBarra.html">Comandas Cocina en Preparación</a>
                                    </section> 
                                     
                                        <section class="bg-danger py-4 mb-4 d-flex justify-content-center">
                                            <a class="text-center text-decoration-none h4" href="./seccionComandaFinalizadoBarra.html">Comandas Cocina Finalizadas</a>
                                        </section>
                                            <section class="bg-danger py-4 mb-4 d-flex justify-content-center mt-5">
                                                <img  src="/OrderFlow Proyecto Ciclo 2ºDAW/assets/icons/logout_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg" alt="">
                                                <a class="h4  text-decoration-none" href="">LogOut</a>
                                            </section>    
                    </div>
            </div>
    </div>

<div class="w-100 d-flex "> 
    <div class="bg-primary w-25 d-none d-md-block ">
                  <section class="bg-danger py-4  d-flex justify-content-center">
                                <img src="" alt="">
                                <a class="h5 text-decoration-none " href="../barraVista.html">Inicio</a>
                            </section>
                  <section class="bg-danger py-4 mb-4 d-flex justify-content-center">
                                <a class="h4 text-decoration-none " href="../barraVista.html">Inicio</a>
                            </section>

                                <section class="bg-danger py-4 mb-4 d-flex justify-content-center">
                                    <a class="h4 text-center text-decoration-none" href="./seccionComandaColaBarra.html">Comandas Barra en Espera</a>
                                </section >

                                    <section class="bg-danger py-4 mb-4 d-flex justify-content-center">
                                        <a  class="text-center text-decoration-none h4" href="./seccionComandapreparadoBarra.html">Comandas Barra en Preparación</a>
                                    </section> 
                                     
                                        <section class="bg-danger py-4 mb-4 d-flex justify-content-center">
                                            <a class="text-center text-decoration-none h4" href="./seccionComandaFinalizadoBarra.html">Comandas Barra Finalizadas</a>
                                        </section>
                                            <section class="bg-danger py-4  d-flex justify-content-center mt-2">
                                                <img  src="/OrderFlow Proyecto Ciclo 2ºDAW/assets/icons/logout_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg" alt="">
                                                <a class="h4  text-decoration-none" href="">LogOut</a>
                                            </section>    
            </div>


    <div class="w-100 my-4 mt-0  ">
        <div class="card shadow border-0 rounded-4 bg-dark text-white">
                <div class="card-header bg-warning text-dark rounded-top-4">
                    <h5 class="mb-0 text-center fw-bold ">🧾 Comandas de Barra En Cola</h5>
                </div>
            <div class="card-body overflow-auto" style="max-height: 300px;">
            <!-- Aquí irán las comandas -->
            <div class="text-muted text-center">No hay comandas por el momento.</div>
            </div>
        </div>
    </div>
</div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>  
</body>
</html>